---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header";
import GroupsList from "@/components/groups/GroupsList";
---

<Layout title="Groups | 10x Cards">
  <main class="container mx-auto p-4">
    <Header title="Groups" client:load />
    <GroupsList client:load />
  </main>
</Layout>